.filter-form {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  width: 100%;
  max-width: 550px; /* Adjust max-width as per your design */
  margin: 0 auto; /* Center align the form */
  padding: 20px;
}

@media (max-width: 768px) {
  .filter-form {
    padding: 15px;
    margin: 10px; /* Adjust margin for smaller screens */
  }
}
